@page "/electioncomplaint"

@using Syncfusion.Blazor.DocumentEditor

<h3>Election Complaint</h3>

<Syncfusion.Blazor.DocumentEditor.SfDocumentEditorContainer Width="1200px" Height="800px">
    <Syncfusion.Blazor.DocumentEditor.DocumentEditorContainerEvents Created="OnCreated">

    </Syncfusion.Blazor.DocumentEditor.DocumentEditorContainerEvents>
</Syncfusion.Blazor.DocumentEditor.SfDocumentEditorContainer>

@code {

    private SfDocumentEditorContainer _container;

    private void OnCreated()
    {
        var docPath = "../assets/docs/obrashhenie-o-narushenii-v_czik-i-trebovaniya-po-chestnym-vyboram-3.docx";
        using(var fs = new System.IO.FileStream(docPath, System.IO.FileMode.Open, System.IO.FileAccess.Read))
        {
            var document = WordDocument.Load(fs, ImportFormatType.Docx);
            _container.GetDocumentEditor().Open(Newtonsoft.Json.JsonConvert.SerializeObject(document));
            document.Dispose();
        }
    }
}
